.container {
  margin: 0rem auto;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.booksContainer {
  /* margin: 0 auto; */
  width: 100%;
  /* height: 28.5rem; */
  /* background-color: var(--black); */
  overflow: visible;
  /* transform: translateY(60%); */

  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 30.5rem; */

  /* position: relative; */
}

.backgroundHalf {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 45%;
  background-color: var(--black);
  z-index: -1;
}

.book {
  margin: 0 auto;
  max-width: 61.25rem;
  opacity: 0;
  visibility: hidden;

  display: grid;
  grid-template-columns: 1fr 1fr;
  transform: translate3d(0, 0, 0);

  gap: 4rem;

  position: absolute;
  transition: all 0.8s ease-in-out;
}

.book.activeSlide {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0);
}

.book.prevSlide {
  transform: translate3d(-100%, 0, 0);
}

.book.nextSlide {
  transform: translate3d(100%, 0, 0);
}

.book img {
  justify-self: right;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  max-width: 90%;
  gap: 14rem;
}

.descriptionContainer div:nth-child(1) {
  /* margin-bottom: 10rem; */
}

.descriptionContainer h1 {
  font-size: 2rem;
  line-height: 1.5;
  margin: 1rem 0;
}

.descriptionContainer small {
  font-size: 1.2rem;
}

.descriptionContainer p {
  color: var(--white);
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 1.2rem;
}

.descriptionContainer button {
  background-color: var(--black);
  border: 1px solid var(--white);
  color: var(--white);
  width: 10rem;
  height: 3rem;
  border-radius: 4px;
  font-size: 0.9rem;
  outline: none;
  margin-bottom: 0.2rem;

  transition: all 0.2s ease-in-out;
}

.descriptionContainer button:hover {
  background-color: var(--white);
  color: var(--black);
}

.carousellBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;

  position: absolute;

  bottom: 0;
  justify-self: center;
  width: 100%;
  height: 2rem;
  transform: translateY(-3.6rem);
}

.carousellBtns div {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--background-carousell);

  transition: all 0.2s ease-in-out;
  transform: scale(1);
  cursor: pointer;
}

.carousellBtns div:hover,
.carousellBtns .btnActive {
  transform: scale(1.2);
  background-color: var(--background);
}

/* REPONSIVE */
@media (max-width: 980px) {
  .book img {
    width: 98%;
  }
}

@media (max-width: 768px) {
  .book {
    max-width: 58rem;
    gap: 2rem;
  }

  .book img {
    width: 94%;
  }

  .descriptionContainer {
    gap: 12rem;
  }
}
/* MOBILE */
@media (max-width: 425px) {
  .book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate3d(0, 5%, 0);

    gap: 1rem;
  }

  .book.activeSlide {
    transform: translate3d(0, 5%, 0);
  }

  .book.prevSlide {
    transform: translate3d(-100%, 5%, 0);
  }

  .book.nextSlide {
    transform: translate3d(100%, 5%, 0);
  }

  .book img {
    width: 80%;
  }

  .descriptionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 70%;
    gap: 2rem;
    color: var(--white);
  }

  .descriptionContainer h1 {
    font-size: 1.8rem;
    line-height: 1.2;
  }

  .carousellBtns {
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  .descriptionContainer p {
    font-size: 1.4rem;
  }
}
