* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --background: #f2f3f5;
  --background-carousell: #666666;
  --text: #1d1d1d;
  --text-hover: #2326c2;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--text);

  font-family: 'Barlow', sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

@media (max-width: 1080px) {
  html {
    font-size: 87.5%;
  }
}

@media (max-width: 980px) {
  html {
    font-size: 81.25%;
  }
}

@media (max-width: 880px) {
  html {
    font-size: 68.75%;
  }
}

@media (max-width: 780px) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width: 620px) {
  html {
    font-size: 50%;
  }
}
